body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search-form {
    text-align: center;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #a2be3b;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.search-form input[type="submit"]:hover {
    background-color: #a2be3b;
}

.get-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3f68b1;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.get-button:hover {
    background-color: #3f68b1;
}
